---
layout: default
---
<div class="tagline">
  <p>I’m a designer and front-end developer at 18F, a digital services team within the federal government. I’m passionate about making the world a better place. I like technology, art, and design.</p>
</div>

</div>

  <section class="work">
      <div class="container">

        <h2>Work</h2>

        <div class="grid">

          <ul class="entries">

            {% for post in site.categories.feature %}

            <li class="col-1-2">
              <a href="{{ post.url }}">
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
              </a>
              {% for tag in post.tags %}
              <span class="tag">{{tag}}</span>
              {% endfor %}
            </li>

            <li class="col-1-2">
              <a href="{{ post.url }}">
                <img src="{{ post.thumbnail }}" alt="" />
              </a>
            </li>
            {% endfor %}
          </ul>

<!-- Remove "view all projects" button
          <div class="centerBlock">
            <a class="btn" href="/work">View all projects</a>
          </div>
-->
        </div>

    </div>
  </section>

<section class="more-work">
  <div class="container">

    <h2>More work</h2>

    <div class="grid">
      <ul>
        {% for post in site.categories.other %}

        <li class="col-1-4">
          <a href="{{ post.url }}">
            <img src="{{ post.thumbnail }}" alt="" />
          </a>
        </li>

        {% endfor %}

      </ul>
    </div>

  </div>
</section>