---
layout: default
---

</div>

<section class="single-project">
    <div class="container"> 
      <h2 class="content">{{page.title}}</h2>
    
      {% for tag in page.tags %}
      <span class="tag">{{tag}}</span>
      {% endfor %}
    
      <div class="main-text"> 
        {{ content }}
      </div>

      {% for link in page.link %}
        <h4>View project</h4>
        <a class="project-link" href="http://{{link}}">{{link}}</a>
      {% endfor %}
      
    <div class="grid">      
      
      {% for image in page.image %}
        <img class="work-img" src="{{image}}" />
      {% endfor %}
       
    </div>